In [1]:
import pandas as pd
import numpy as np
from math import pi
from scipy.integrate import odeint
from scipy.optimize import fsolve
import matplotlib.pyplot as plt

## Table with data of Trappist-1 planets

In [2]:
data = {
    'Planet Name': ['TRAPPIST-1 b','TRAPPIST-1 c','TRAPPIST-1 d',
                    'TRAPPIST-1 e','TRAPPIST-1 f','TRAPPIST-1 g'
                    ,'TRAPPIST-1 h'] , 
     'Period(day)':  [1.510826,2.421937,4.049219,6.101013,9.207540,
                     12.352446,18.772866],
     'a (10^11 cm)' : [1.726,2.364,3.331,4.376,5.758,7.006, 9.529],
     'R (10^8 cm)' : [7.119,6.995,5.026,5.868,6.664,7.204,4.817] ,
     'M (10^27 g)' : [8.211,7.814,2.316,4.132,6.205,7.890,1.945],
     'mean_d (g cm^-3)' : [5.425,5.447,4.354,4.885,5.009,5.042,
                           4.147],
     'core_d (g cm^-3)' : [12,12,10,12,12,12,10]
    }
Table1 = pd.DataFrame(data=data)
Table1

,Planet Name,Period(day),a (10^11 cm),R (10^8 cm),M (10^27 g),mean_d (g cm^-3),core_d (g cm^-3)
0,TRAPPIST-1 b,1.510826,1.726,7.119,8.211,5.425,12
1,TRAPPIST-1 c,2.421937,2.364,6.995,7.814,5.447,12
2,TRAPPIST-1 d,4.049219,3.331,5.026,2.316,4.354,10
3,TRAPPIST-1 e,6.101013,4.376,5.868,4.132,4.885,12
4,TRAPPIST-1 f,9.207540,5.758,6.664,6.205,5.009,12
5,TRAPPIST-1 g,12.352446,7.006,7.204,7.890,5.042,12
6,TRAPPIST-1 h,18.772866,9.529,4.817,1.945,4.147,10

## Calculating mantle density and core radius

In [3]:
cmf = 0.21
R = Table1['R (10^8 cm)']
mean_d = Table1['mean_d (g cm^-3)']
core_d = Table1['core_d (g cm^-3)']

Rf = R*(cmf*(mean_d/core_d))**(1/3) #10^8 cm
mantle_d = (mean_d - core_d*(Rf/R)**3)/(1-(Rf/R)**3) # gm cm^-3

Table1['R_core (10^8 cm)'] = Rf
Table1['mantle_d (g cm^-3)'] = mantle_d

# Updated table of the Trappist-1 system

In [4]:
Table1

,Planet Name,Period(day),a (10^11 cm),R (10^8 cm),M (10^27 g),mean_d (g cm^-3),core_d (g cm^-3),R_core (10^8 cm),mantle_d (g cm^-3)
0,TRAPPIST-1 b,1.510826,1.726,7.119,8.211,5.425,12,3.247618,4.735308
1,TRAPPIST-1 c,2.421937,2.364,6.995,7.814,5.447,12,3.195358,4.756535
2,TRAPPIST-1 d,4.049219,3.331,5.026,2.316,4.354,10,2.264254,3.785812
3,TRAPPIST-1 e,6.101013,4.376,5.868,4.132,4.885,12,2.584983,4.219899
4,TRAPPIST-1 f,9.207540,5.758,6.664,6.205,5.009,12,2.960270,4.337308
5,TRAPPIST-1 g,12.352446,7.006,7.204,7.890,5.042,12,3.207160,4.368648
6,TRAPPIST-1 h,18.772866,9.529,4.817,1.945,4.147,10,2.135147,3.588655

# Computing dynamical ellipticity

In [76]:
def rhs_clairaut(y,x,xcmb,rhof,rhom):
    if x < xcmb:
        dydx = np.array([ y[1] , -(6/x)*y[1]])
    else:
        zeta = rhom/(rhom + (rhof-rhom)*(xcmb/x)**3)
        dydx = np.array([ y[1], (-6/x)*zeta*y[1] - 
                         6/(x**2) * (zeta - 1) * y[0]])
    return dydx

In [77]:
def shoot_clairaut_homog(v,mm,rhom,rhof,xcmb):
    y0 = [float(v),0.0]
    xx = np.linspace(xcmb, 1, 201)
    yy = odeint(rhs_clairaut,y0,xx,args=(xcmb,rhof,rhom))
    
    nx = len(xx) - 1
    
    f = yy[nx,1] + 2*yy[nx,0] - 2.5*mm
    return f,yy

In [78]:
def clairaut_homog(mm,rhom,rhof,xcmb):
    v0 = 0.001
    
    def func(x):
        f,yy = shoot_clairaut_homog(x,mm,rhom,rhof,xcmb)
        return f
    
    v = fsolve(func,v0)
    
    f,yy = shoot_clairaut_homog(v,mm,rhom,rhof,xcmb)
    
    ellf = v
    
    flat = yy[-1,0]
    ell = (rhof*xcmb**5*ellf + rhom*(flat-ellf*xcmb**5))/(rhof*xcmb**5 + 
                                                         rhom*(1-xcmb**5))
    return ellf,ell

# Fluid core & whole planet ellipticities

In [79]:
### Assuming rotation frequency = orbital frequency
day_sec = 86400 #seconds
G = 6.67430 * 10**-11 # m^3 kg^-1 s^-2

R = Table1['R (10^8 cm)'] * 10**-2 #m
Rf = Table1['R_core (10^8 cm)'] * 10**-2 #m
M = Table1['M (10^27 g)'] * 10**-3 #kg
rhom = Table1['mantle_d (g cm^-3)'] * 10**3 #kg/m^3
rhof = Table1['core_d (g cm^-3)'] * 10**3 #kg/m^3
period_in_seconds = Table1['Period(day)'] * day_sec
rot = 2*pi/(period_in_seconds) #rad/sec

ell = np.zeros((len(rot)))
ellf = np.zeros((len(rot)))

for i in range(len(rot)):
    xcmb = Rf[i]/R[i]
    mm = (rot[i]**2 * R[i]**3)/(G*M[i])
    ellf[i],ell[i] = clairaut_homog(mm,rhom[i],rhof[i],xcmb)

In [80]:
ell

array([1.62527368, 0.63083048, 0.28077961, 0.10933205, 0.04697374,
       0.02595373, 0.01360349])

In [ ]:
Af = 8*pi/15*
A = Af + 8.*pi/15.*(rho(2)*(Rm(1)^5-Rf(1)^5)+ ...
                    rho(3)*(Rh(1)^5-Rm(1)^5)+ ...
                    rho(4)*(R(1)^5-Rh(1)^5) ) ;
Am = A - Af;